* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    font-size: 100%;
    background: black;
}

.cabecalho {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    margin-top: 8px;
}

.logo-imagem {
    height: 100px;
}

.cabecalho-conteudo {
    display: flex;
    gap: 32px;
    transition: 0.2s;
}

.cabecalho-conteudo a:hover{
  color: #ff2f00;
  
}

.cabecalho-item {
    color: white;
    font-weight: 400;
    font-size: 18px;
}


.principal {
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    text-align: center;
    border-top: 2px solid orangered;
}

.divisao {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
    border: none;
    border-radius: 20px;
    width: 900px;
    height: 600px;
    background-color: white;
    background: linear-gradient(68.15deg, rgba(35, 13, 232, 0.896) 16.62%, #d73a16 85.61%);
    margin-bottom: 70px;
}

.input {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
  }

  .digitarCep {
    all: unset;
    outline: revert;
    width: 250px;
    height: 60px;
    margin-left: 80px;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    font-size: 16px;
    color: black;
    background-color: white;
    transition: 0.2s;
    /*background: linear-gradient(68.15deg, rgba(162, 152, 149, 0.557) 16.62%, #9f837e 85.61%);*/
  }
  
  .digitarCep:hover{
    background-color: rgb(115, 106, 106);
  }
  .submit {
    all: unset;
    cursor: pointer;
    outline: revert;
    border-radius: 50px;
    width: 70px;
    height: 70px;  
    background-color: transparent;
    transition: 0.2s;
  }

  .submit:hover {
    background-color: rgb(115, 106, 106);
  }

  .iconeLupa{
    width: 70px;
    height: 70px;
  }

  .busca {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-top: 50px;
    margin-bottom: -150px;
  }

  .busca input {
    all: unset;
    outline: revert;
    border-radius: 100px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 8px;
    
  }


.footer {
    display: block;
    margin: 0 auto;
    height: 18px;
    color: white;
    margin-top: 20px;
    border-top: 2px solid orangered;
    text-align: center;
    padding: 30px;
    
}